@use "../global/config" as *;
body {
  font-family: $ff;
  font-size: 13px;
  background-color: $clr-primary100;
  font-weight: $medium;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
}

h1 {
  font-size: 16px;
  color: $clr-primary400;
  font-weight: $bold;
  line-height: 1.45rem;
  margin-bottom: 0.84rem;
}

p {
  color: $clr-primary200;
  line-height: 1.2rem;
}

a {
  color: inherit;
}
